/* COMMON */
:root {
  /* color */
  --white-color: #fafafa;
  --light-grey-color: #BDBDBD;
  --medium-grey-color: #616161;
  --dark-grey-color: #424242;
  --black-color: #212121;
  --yellow-color: #fae100;

  /* size */
  --title-font-size: 2.2vw;
  --subject-font-size: 6vw;
  --mobile-large-font-size: 5em;
  --larger-font-size: 12vw;

  --padding-size: .5em;

}

body {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 2em;
  background-color: var(--white-color);
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

.subject {
  font-size: var(--subject-font-size);
  font-weight: bold;
  margin: var(--padding-size);
}


/* MAIN PAGE */
#main1 {
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  background-size: cover;
  background-attachment: fixed;
}

#main1 .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main1 #who-am-i {
  font-family: 'Bebas Neue', cursive;
  color: var(--black-color);
  font-weight: 700;
  font-style: italic;
  font-size: var(--larger-font-size);
  letter-spacing: .04em;
  margin-bottom: .5em;
  background-color: var(--yellow-color);
}

#main1 #hello {
  text-align: center;
  color: var(--medium-grey-color);
  font-weight: 700;
  font-size: 0.85em;
}

#main1 #hello strong {
  color: var(--dark-grey-color);
  font-size: 1.3em;
}

#main1 .me-smart {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
}

#main1 .me-shake {
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#main1 .fade-in {
  opacity: 0;
}


/* MAIN2 - profile */
#profile {
  background-color: var(--white-color);
  height: 100vh;
}

.profile__introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__introduce .profile-img {
  width: 20%;
  margin-bottom: var(--padding-size);
}

.profile__introduce h3 {
  font-size: var(--title-font-size);
  font-weight: 700;
  color: var(--black-color);
}

.profile__introduce h5 {
  font-weight: 500;
  color: var(--dark-grey-color);
}

.profile__introduce .job {
  background-color: pink;
  margin-top: var(--padding-size);
  padding: calc(var(--padding-size)*1/2) calc(var(--padding-size)*3);
  border-radius: 30em;
  color: var(--white-color);
  font-size: var(--title-font-size);
  font-weight: 700;
}

.profile__introduce .comment {
  font-style: italic;
  color: var(--dark-grey-color);
  margin: var(--padding-size) 0;
}

.profile__section {
  background-color: pink;
  width: 80%;
  height: 100px;
  margin: 10px;
  padding: 5px;
}

.profile__section .title {
  color: var(--dark-grey-color);
  font-weight: bold;
}

.profile__section .contents {
  font-size: .9rem;
}


/* CONTACT */
#contact {
  height: 100vh;
  background-image: url(../img/contact_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#contact .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#contact .contact__comment {
  text-align: center;
  color: var(--medium-grey-color);
  line-height: 3em;
  font-size: var(--title-font-size);
}

#contact .contact__comment .mail {
  color: var(--black-color);
  font-weight: bold;
}

#contact img {
  width: 40%;
}


/* FOOTER */
footer {
  /* background-color: var(--white-color); */
  background-color: #fff;
  padding: calc(var(--padding-size)*2);
}

footer .footer__copyright {
  display: block;
  font-size: var(--title-font-size);
  color: var(--light-grey-color);
  text-align: center;
}

/* responsive */
@media (max-width:400px) {
  #main1 #who-am-i {
    font-size: var(--mobile-large-font-size);
  }
}