/* COMMON */
:root {
  /* color */
  --white-color: #fafafa;
  --medium-grey-color: #616161;
  --dark-grey-color: #424242;
  --black-color: #212121;
  --yellow-color: #fae100;

  /* size */
  --title-font-size: 2em;
  --mobile-large-font-size: 5em;
  --larger-font-size: 6em;

  --padding-size: .5em;

}

body {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 2em;
  background-color: var(--white-color);
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
  /* background-color: darkturquoise; */
}

.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: var(--title-font-size);
  padding: var(--padding-size);
  font-style: italic;
  letter-spacing: .05em;
}

/* MAIN PAGE */
#main1 {
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  background-size: cover;
  background-attachment: fixed;
}

#main1 .inner {
  /* background-color: pink; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main1 #who-am-i {
  font-family: 'Bebas Neue', cursive;
  color: var(--black-color);
  font-weight: 700;
  font-style: italic;
  font-size: var(--larger-font-size);
  letter-spacing: .04em;
  margin-bottom: .5em;
  background-color: var(--yellow-color);
}

#main1 #hello {
  text-align: center;
  color: var(--medium-grey-color);
  font-weight: 700;
  font-size: 0.85em;
}

#main1 #hello strong {
  color: var(--dark-grey-color);
  font-size: 1.3em;
}

#main1 .me-smart {
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
}

#main1 .me-shake {
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#main1 .fade-in {
  opacity: 0;
}

/* MAIN2 - About me */
#about-me {
  height: 100vh;
  background-color: var(--white-color);
  font-family: 'Nanum Gothic', sans-serif;
}

#about-me #introduction {
  display: flex;
  gap: calc(var(--padding-size)*2);
  padding: var(--padding-size);
}

#about-me article img {
  /* background-color: paleturquoise; */
  width: 30%;
  height: 70%;
  align-self: flex-end;
}

#about-me article .contents {
  text-align: justify;
  color: var(--dark-grey-color);
}

@media (max-width: 456px) {
  #about-me #introduction {
    flex-direction: column;
  }
}

@media (max-width:400px) {
  #main1 #who-am-i {
    font-size: var(--mobile-large-font-size);
  }
}