/* COMMON */
:root {
  /* color */
  --white-color: #fafafa;
  --pink-color: #FFC0CB;
  --light-grey-color: #BDBDBD;
  --medium-grey-color: #616161;
  --dark-grey-color: #424242;
  --black-color: #212121;

  /* size */
  --small-font-size: .9em;
  --basic-font-size: 1em;
  --medium-font-size: 1.3em;
  --biggest-font-size: 6em;

  --padding-size: .5em;
  --margin-size: 1em;
  --line-height: 2em;

}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: var(--basic-font-size);
  color: var(--black-color);
  line-height: var(--line-height);
  background-color: var(--white-color);
}

.inner {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

.hidden {
  display: none;
}

.title {
  font-weight: 700;
}


/* MAIN FIRST PAGE */
#first-page {
  width: 100%;
  height: 100vh;
  position: relative;
}

#first-page .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#first-page #who-am-i {
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-style: italic;
  font-size: var(--biggest-font-size);
  letter-spacing: .04em;
  margin-bottom: var(--padding-size);
}

#first-page #hello {
  text-align: center;
  color: var(--medium-grey-color);
  font-weight: 700;
}

#first-page #hello strong {
  color: var(--dark-grey-color);
  font-size: var(--medium-font-size);
}

#first-page .me-smart {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

#first-page .me-shake {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#first-page .fade-in {
  opacity: 0;
}

/* side menu */
#menu__icon {
  position: fixed;
  top: 0;
  right: 0;
  margin: var(--padding-size);
  cursor: pointer;
  z-index: 9;
}

#menu__icon span {
  vertical-align: middle;
}

#side__menu {
  background-color: rgba(255, 255, 255, 0.7);
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
}

#side__menu ul {
  display: flex;
  flex-direction: column;
  gap: var(--padding-size);
  margin: var(--padding-size);
}

#side__menu li {
  cursor: pointer;
  margin: var(--padding-size);
  color: var(--medium-grey-color);
  font-size: var(--small-font-size);
}

#side__menu span {
  align-self: flex-end;
  cursor: pointer;
}


/* PROFILE PAGE */
#profile-page {
  height: 100vh;
}

#profile-page .inner {
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: calc(var(--margin-size)*3) var(--margin-size);
}

#profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* profile info (image) */
#profile__info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile__info img {
  width: 60%;
  margin-bottom: var(--margin-size);
}

#profile__info .title {
  font-size: var(--small-font-size);
}

#profile__info .profile__job {
  background-color: var(--pink-color);
  padding: 0 var(--margin-size);
  border-radius: 10px;
  color: var(--white-color);
}


/* profile about (skill, charactor) */
#profile__about {
  width: 65%;
}

/* profile - skills */
#profile__about .about__skill {
  margin-bottom: calc(var(--margin-size)*4);
}

#profile__about .about__skill ul.skills {
  margin-top: var(--margin-size);
}

#profile__about .about__skill .skills li {
  display: flex;
  align-items: center;
}

#profile__about .about__skill .skills li .fa-brands {
  width: 7%;
}

#profile__about .about__skill .skills li .skill__name {
  width: 23%;
  font-size: var(--small-font-size);
  color: var(--medium-grey-color);
}

#profile__about .about__skill .skills li .material-icons.lignt-color {
  color: var(--light-grey-color);
}

/* profile - charactor */

#profile__about .about__charactor ul.charactors {
  margin-top: var(--margin-size);
  display: flex;
  flex-wrap: wrap;
}

#profile__about .about__charactor .charactors li {
  width: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#profile__about .about__charactor .charactors li::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--light-grey-color);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

#profile__about .about__charactor .charactors li:nth-child(1):before,
#profile__about .about__charactor .charactors li:nth-child(5):before {
  display: none;
}

#profile__about .about__charactor .charactors li .char__kor {
  text-align: center;
}

#profile__about .about__charactor .charactors li .char__eng {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--light-grey-color);
}


#introduce {
  /* height: 100vh; */
}

#introduce .inroduce__contents {}


/* 반응형 responsive */
/* 랩톱 - 1024px */
@media (max-width:1024px) {
  :root {
    --basic-font-size: .9em;
    --medium-font-size: 1.2em;
    --biggest-font-size: 5em;
  }
}

/* 태블릿 - 768px */
@media (max-width:768px) {
  #side__menu {
    width: 40%;
  }

  #profile {
    flex-direction: column;
  }

  #profile__info {
    margin-bottom: calc(var(--margin-size)*3);
  }

  :root {
    --basic-font-size: .9em;
    --small-font-size: .8em;
  }

  #profile__info {
    width: 100%;
  }

  #profile__info img {
    width: 20%;
  }

  #profile__about {
    width: 100%;
  }
}

@media (max-width:600px) {
  :root {
    --basic-font-size: .8em;
    --small-font-size: .7em;
  }
}

/* 모바일 - 425px */
@media (max-width:425px) {
  :root {
    --basic-font-size: .7em;
    --medium-font-size: 1em;
    --biggest-font-size: 5em;
  }
}